/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body{
    padding: 0%;
    margin: 0%;
}
.btn-auth{
    border-radius: 1vh;
    background: #243E73;
    width: 10vh;
    height: 5vh;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Prompt;
    font-size: 2.25vh;
    font-style: normal;
    /* font-weight: 500; */
    line-height: normal;
    border: none;
    justify-content: center;
    justify-self: center;
}
.container-auth{
    padding: 0vh 0vh 8vh 0vh;
    display: grid;
    position: relative;
    grid-template-columns: [first] 2fr [col1] 10fr [col2] 2fr [end];
    grid-template-rows: [row-start] 2fr [row1-end] 10fr [third-line] 2fr [row-end];
    justify-items: center;
}

.file{
    margin: 10px 0;
}

.h-auth{
    color: #1C2540;
    text-align: center;
    font-family: Prompt;
    font-size: 3em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}
.label-auth{
    width: 100%;
    color: #1C2540;
    font-family: Prompt;
    font-size: 3vh;
    font-style: normal;
    font-weight: 500;
}
.box-auth{
    width: 50vh;
    height: fit-content;
    box-shadow: 0px 0px 10vh 0px rgba(0, 0, 0, 0.25);
    border-radius: 5vh;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1-end;
    grid-row-end: last-line;
    align-content: space-evenly;

}

.editAlbum{
    grid-template-rows: repeat(4, 1fr);
}
.input-auth{
    padding: 0px 15px;
    display: grid;
    border-radius: 11px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    height: 3.5vh;
    font-size: 1.3em;
}

.flex{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    /* font-size: 20px; */
}

.medium{
    width: 40vh;
}

.container-input-auth{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: fit-content;
}
.container-input-auth > select{
    height: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    font-size: 20px;
}
.container-input-auth > select{
    padding: 0px 10px;
    height: 50px;
}
.bottom{
    grid-row-start: -2;
}

.inputAudio{
    font-size: 20px;
}

.fileForm{
    /* height: 600px; */
}