

.card{
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    background-color: #efefef;
    /* width: 100%; */
    width: 280px;
    border-radius: 20px;
    height: 312px;
    display: table;
    text-align: center;
    /* justify-content: center; */
    /* padding: auto; */
    padding: 13px 0px;
    /* margin-left: auto;
    margin-right: auto; */
    color: var(--blueFont);
    font-family: Garamond, serif;
    /* box-shadow: 0px 3px 2px 2px #000000; */
    box-shadow: 0px 0px 10px 0px var(--blue);
    border: 3px solid var(--blueFont);
    margin-bottom: -10px;
    font-size: 0.85em;
}

.cardIMG{
    position: relative;
    width: 253px;
    height: 240px;
    border-radius: 12px;
    border: 1px solid var(--blueFont);
    background-size: contain;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.cardTitle{
    text-align: left;
    padding-left: 13px;
    /* margin: 0 5px; */
}

.cardAuthor{
    text-align: left;
    padding-left: 13px;
    /* margin: 0 5px; */
    color: gray;
}
.cardAuthorAlbum{
    text-align: left;
    /* padding-left: 13px; */
    /* margin: 5px; */
    margin: 0;
    color: gray;
}

.cardButtonCon{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.album{
    height: 280px;
}
